$color-light-green: #55c57a;
$color-medium-green: #7ed56f;
$color-dark-green: #28b485;

$color-grey-dark: #777;
$color-white: #fff;
$color-black: black;

$color-grey-light-1:#f3f2f2d2;

//fonts
$defualt-font-size: 1.6rem;

//Grid
$grid-width: 114rem;
$gutter-vertical: 8rem;
$gutter-horizontal: 6rem;
