.btn {
    &:link,
    &:visited {
        display: inline-block;
        text-transform: uppercase;
        text-decoration: none;
        padding: 1.5rem 4rem;
        border-radius: 10rem;
        transition: all .2s;
        position: relative;
        animation: moveInButtonBottom .2s ease-in;
        font-size: $defualt-font-size;
    }
    &--white {
        background-color: $color-white;
        color: $color-grey-dark;
        &::after {
            background-color: $color-white;
        }
    }
    &--green {
        background-color: $color-light-green;
        color: $color-white;
        &::after {
            background-color: $color-light-green;
        }
    }
    &:hover {
        transform: translateY(-5px); // box-shadow: 0 1rem 2rem rgb(131, 131, 131, .6);
        &::after {
            transform: scaleX(1.5) scaleY(1.6);
            opacity: 0;
        }
    }
    &:active {
        transform: translateY(5px); // box-shadow: 0 .5rem 1rem rgb(131, 131, 131, .5);
    }
    &::after {
        content: "";
        height: 100%;
        width: 100%;
        border-radius: 10rem;
        position: absolute;
        top: 0;
        z-index: -1;
        left: 0;
        transition: all .4s;
        display: inline-block;
    }
    &--animated {
        animation: movInButton .5s ease-out .75s;
        animation-fill-mode: backwards;
    }
}

.btn-text {
    &:link,
    &:visited {
        font-size: $defualt-font-size;
        color: $color-light-green;
        text-decoration: none;
        display: inline-block;
        border-bottom: 1px solid $color-light-green;
        padding: 3px;
        transition: all .3s;
    }
    &:active {
        box-shadow: 0 .5rem 1rem rgba($color-black, .15);
        transform: translateY(0);
    }
    &:hover {
        background-color: $color-light-green;
        color: $color-white;
        box-shadow: 0 1rem 2rem rgba($color-black, .15);
        transform: translateY(-2px);
    }
}