*,
*::before,
*::after {
    margin: 0;
    padding: 0;
    box-sizing: inherit;
}

html {
    font-size: 62.5%;
    /* our fontsize 10px / default: 16px = .625 => 62.5% */
    /* 1rem = 10px*/
}

body {
    box-sizing: border-box;
}